body {
    font-family: 'Roboto Mono', serif;
    background-color: #dddddd;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 400%;
    color: #52b21a;
    padding: 20px;
}

.fa-copy {
    color: white;
  }

pre {
  margin-top: 10px;
}
