body {
    font-family: 'Roboto Mono', serif;
    background-color: #dddddd;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 400%;
    color: #52b21a;
    padding: 20px;
}

.fa-copy {
    color: white;
}

pre {
    margin-top: 10px;
}

footer {
    background-color: #999999;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.seedScript {
    border-radius: 8px;
}

/* CSS for Dark Mode */

.dark {
    background-color: #151921;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
.dark footer {
    background-color: #000000;
}
