body {
    font-family: 'Roboto Mono', serif;
}

.wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    width: 85%;
}

.content {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 400%;
}
